* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  margin: 10rem 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

#resultado {
  display: flex;
  flex-direction: column;

  margin: 3rem;
  gap: 1rem;
  text-align: center;
}

#buttonCriar {
  padding: 1rem;
  margin: 1rem;
  border: none;
  border-radius: 10px;
  background: #a1a1a1;
  cursor: pointer;
}

#buttonCriar:hover {
  background: #adad;
  box-shadow: 0 10px 10px rgba(0, 0, 0, 0.8);
}

p {
  font-weight: bold;
  font-size: 1.125rem ;
}